.info{
    background-image: url("images/bacgraund.jpg");
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
}

@media (max-width:768px) {
    .info{
        background-image: url("images/bacgraund2.jpg");
        .acerca h1{
            padding-top: 130px;
        }
    }
}